.search-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
  /* padding: 1rem 2rem; */
}
.search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #ddd;
  width: 500px;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color:#fff;
}
.search input {
  border: none;
  outline: none;
  width: 400px;
}
#keep{
    font-size: 20px;
    font-weight: 600;
    background: linear-gradient(to top, #4b90ff,#ff5546);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}


@media screen and (max-width: 768px) {
    .search {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: 1px solid #ddd;
        width: 400px;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        background-color:#fff;
      }
    
  }

  @media screen and (max-width: 500px) and (min-width: 100px) {
    .search {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: 1px solid #ddd;
        width: 300px;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        background-color:#fff;
      }
  }